---
import Layout from '../layouts/Layout.astro'
import MomentTracker from '../components/MomentTracker.svelte'
---

<Layout>
	<main>
		<h1 class="title">Moment Tracker</h1>
		<MomentTracker client:load />
	</main>
</Layout>